<configuration xmlns:x="http://www.sitecore.com/xmlconfig/" 
               xmlns:patch="http://www.sitecore.com/xmlconfig/" 
               xmlns:topology="http://www.sitecore.com/xmlconfig/topology/" >
  <sitecore>
    <pipelines>
      <!-- This pipeline is intended to render just the VisitorIdentification control. You can add your own logic to this pipeline but keep in mind that none of the Analytics, Marketing or xConnect assemblies are available.-->
      <platformextensions.visitorIdentification>
        <!-- Renders the Visitor Identification control -->
        <processor type="AlexVanWolferen.PlatformExtensions.Pipelines.VisitorIdentification.RenderVisitorIdentificationProcessor, AlexVanWolferen.PlatformExtensions" 
                   topology:require="!xm"
                   patch:before="*[1]" />
      </platformextensions.visitorIdentification>
  </pipelines>
  </sitecore>
</configuration>